# SPDX-FileCopyrightText: Copyright contributors to the OSPO Code Scanner project
# SPDX-License-Identifier: Apache-2.0

.idea/
.vscode/
certificates/.gitkeep
custom-apt.conf.d/.gitkeep
ort-out
pre-commit
