# SPDX-FileCopyrightText: Copyright contributors to the OSPO Code Scanner project
#
# SPDX-License-Identifier: Apache-2.0

# The Alliander Open Source Program Office is owner of all the content within this repository

* ospo@alliander.com
